<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>814815693895-v24r7ip62ndnokons8sip3k0cgv2aq0b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.814815693895-v24r7ip62ndnokons8sip3k0cgv2aq0b</string>
	<key>API_KEY</key>
	<string>AIzaSyCncmv4D2l1hjdisW9Kxt2b5o2TqlI2GnM</string>
	<key>GCM_SENDER_ID</key>
	<string>814815693895</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.risetimedev2023</string>
	<key>PROJECT_ID</key>
	<string>risetimedev2023</string>
	<key>STORAGE_BUCKET</key>
	<string>risetimedev2023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:814815693895:ios:00a215ebfd1fa233833562</string>
</dict>
</plist>